@import "without-sidebar.css";

/**********  
    테이블 css
***********/
.head {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  margin-left: 63px;
  padding-bottom: 15px;
}

.myhead {
  display: flex;
  justify-content: flex-end;
  width: 1140px;
  margin-left: 63px;
  padding-bottom: 15px;
}

.selectcss select {
  border: none;
}

.searh-section,
.search {
  display: flex;
}

#ccaCount b {
  font-weight: 500;
  font-size: 17px;
}

.selectcss .searchWord {
  border-radius: 10px;
  border-color: #dad8d8a6;
  padding: 3px;
}
.selectcss .searchWord:focus {
  outline: none;
}

.custom-table {
  min-width: 1000px;
  font-size: 16px;
  text-align: center;
}

.custom-table thead tr,
.custom-table thead th {
  border-top: none;
  border-bottom: none !important;
  text-align: center;
}

.custom-table thead th:first-child {
  border-radius: 5px 0 0 0;
  width: 100px;
}

.custom-table thead th:last-child {
  border-radius: 0 5px 0 0;
}

.custom-table tbody th,
.custom-table tbody td {
  color: black;
  font-weight: 400;
  padding-bottom: 20px;
  padding-top: 20px;
  font-weight: 300;
}

.custom-table tbody th small,
.custom-table tbody td small {
  color: #b3b3b3;
  font-weight: 300;
}

.custom-table tbody .persons {
  padding: 0;
  margin: 0;
}

.custom-table tbody .persons li {
  padding: 0;
  margin: 0 0 0 -15px;
  list-style: none;
  display: inline-block;
}

.custom-table tbody .persons li a {
  display: inline-block;
  width: 36px;
}

.custom-table tbody .persons li a img {
  border-radius: 50%;
  max-width: 100%;
}

.custom-table tbody tr th,
.custom-table tbody tr td {
  position: relative;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.custom-table tbody tr th:before,
.custom-table tbody tr th:after,
.custom-table tbody tr td:before,
.custom-table tbody tr td:after {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  content: "";
  left: 0;
  right: 0;
  position: absolute;
  height: 1px;
  background: #bfbfbf;
  width: 100%;
  opacity: 0;
  visibility: hidden;
}

.custom-table tbody tr th:before,
.custom-table tbody tr td:before {
  top: -1px;
}

.custom-table tbody tr th:after,
.custom-table tbody tr td:after {
  bottom: -1px;
}

.custom-table tbody tr:hover th,
.custom-table tbody tr:hover td {
  background: rgba(0, 0, 0, 0.03);
}

.custom-table tbody tr:hover th:before,
.custom-table tbody tr:hover th:after,
.custom-table tbody tr:hover td:before,
.custom-table tbody tr:hover td:after {
  opacity: 1;
  visibility: visible;
}

.custom-table tbody tr.active th,
.custom-table tbody tr.active td {
  background: rgba(0, 0, 0, 0.03);
}

.custom-table tbody tr.active th:before,
.custom-table tbody tr.active th:after,
.custom-table tbody tr.active td:before,
.custom-table tbody tr.active td:after {
  opacity: 1;
  visibility: visible;
}

.ccaLIST {
  font-size: 30px;
  line-height: 50px;
  font-weight: bold;
  color: black;
}

.container {
  font-size: 15px;
  margin-right: 0%;
  padding: 0px;
}

#ccaCount {
  float: right;
  margin: 10px;
  color: black;
  font-size: 200px;
}

#tableTr {
  background-color: #10538a;
  color: white;
}

tbody tr td:first-child {
  text-align: center;
  width: 70px;
}

tbody tr td .boardTitle {
  color: #000;
  font-weight: 500;
}

tbody tr td .boardTitle:hover {
  font-weight: 700;
  color: #d81e5b;
}

/***************    
    select들 div로 묶어서 css
****************/
.selectcss {
  color: black;
  font-size: 15px;
  height: 45px;
  width: 320px;
  padding: 7px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-select {
  width: 350px;
}

.selectcss:hover {
  cursor: pointer;
}

.selectcss select {
  border: 2.3px solid #10538a;
  padding: 2px;
  border-radius: 10px;
}

/***************    
    조회버튼 css
****************/
/* #ccaSearchBtn {
  background-color: white;
  color: black;
  border: 0px;
  padding: 0px;
}

#ccaSearchBtn:hover {
  font-weight: bold;
} */

.searchBtn {
  padding: 2px 12px;
}

.btn {
  font-size: 15px;
  font-weight: 350;
  background-color: #10538a;
  border: none;
  font-weight: 500;
  border-radius: 10px;
}
.btn:hover {
  background-color: #10538a;
  box-shadow: 3px 4px 11px 0px #00000040;
}

/* 페이징 css */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 20px 0;
}

.pagination a,
.pagination .page-no {
  margin: 0 5px;
  padding: 5px 10px;
  text-decoration: none;
  color: #10538a;
}

.pagination a:hover,
.pagination .current {
  background-color: #10538a;
  color: white;
  border-radius: 5px;
}

.pagination .current {
  font-weight: bold;
}

.pagination .next10,
.pagination .prev {
  color: white;
}
